/** A simple demo theme for simter-vue-tree */

/** light theme */

.st-tree .st-wrapper.st-hover {
  background-color: #eee
}

.st-tree .st-wrapper.st-active {
  background-color: #ccc
}

.st-tree .st-wrapper.st-active.st-hover {
  background-color: #bbb
}

/** dark theme */

.dark .st-tree .st-wrapper.st-hover {
  background-color: #333
}

.dark .st-tree .st-wrapper.st-active {
  background-color: #444
}

.dark .st-tree .st-wrapper.st-active.st-hover {
  background-color: #666
}