.trees>.st-tree {
  border: 1px solid #666;
  width: 20em;
  margin: 0;
}

/** dark theme */

body.dark {
  background-color: #000;
  color: #888;
}

/** light theme */

body.light {
  background-color: #fff;
  color: #000;
}